<!-- (c) Layout created by TheJasmineSixx (LunaGloomyCore) (https://layouts.spacehey.com/layout?id=611) -->

<style>
/* Estilo do Header da Página (Campo de pesquisa superior)*/
body::-webkit-scrollbar {
  display: none;
}

/*Fundo da página, onde fica a foto*/
body{
background-image: url("https://wallpapercave.com/wp/wp13908388.jpg");
background-position: center;
background-color:  #0000ff;
}
/*/////////////////////*/

/*Configuração do botão*/
button{
	--hue: 245;
	--button-background: oklch(75% 0.1 var(--hue) / 0.8);
	--bg-dark: oklch(45% 0.1 var(--hue) / 0.75);
	--button-foreground: oklch(15% 0.05 var(--hue));
	/* Style */
	background-color: var(--button-background);
	background: var(--bottom-glow),	linear-gradient(to bottom, var(--bg-dark), var(--button-background));
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	border: 1px solid var(--button-background);
	border-radius: 9999px;
	cursor: pointer;
	margin: 1em 1ex;
	padding: 1ex 1em;
	position: relative;
	text-shadow: 0 2px .5em #0003;
	transition: all 300ms;
	/* Text */
	color: white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lunasima", sans-serif;
	font-weight: 700;

	&::after {
		content: "";
		position: absolute;
		top: 4%;
		left: 0.5em;
		width: calc(100% - 1em);
		height: 40%;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
		border-radius: 9999px;
		transition: background 400ms;
	}
}
/*//////////////////////////////////////*/

/**/
 nav .top{
background-color: rgba(255, 255, 255, 0.08);
}
/*///////////////////////////////////////*/

/*Configuração da borda branca em volta da grid*/
.top{
border: solid 2px white;
backdrop-filter: blur(100px);
margin-top: 20px;
margin-bottom: 20px;
border-radius: 20px;
}
/*///////////////////////////////////////*/


/*Confguração da barra de pesquisa*/
.top input{
	--hue: 245;
	--button-background: oklch(75% 0.1 var(--hue) / 0.8);
	--bg-dark: oklch(45% 0.1 var(--hue) / 0.75);
	--button-foreground: oklch(15% 0.05 var(--hue));
	/* Style */
	background-color: var(--button-background);
	background: var(--bottom-glow),	linear-gradient(to bottom, var(--bg-dark), var(--button-background));
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	border: 1px solid var(--button-background);
	border-radius: 9999px;
	cursor: pointer;
	margin: 1em 1ex;
	padding: 1ex 1em;
	position: relative;
	text-shadow: 0 2px .5em #0003;
	transition: all 300ms;
	/* Text */
	color: cyan;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lunasima", sans-serif;
	font-weight: 700;
}
/*///////////////////////////////////////*/

/*Texto ao lado da barra de pesquisas*/
label{
font-size: 25px;
font-weight: larger;
font-family: Michroma;
}
/*///////////////////////////////////////////////*/

/*Link padrão do SpaceHey*/
nav .top .left .logo {
    width: 80px;
    height: 80px;
}
/*///////////////////////////////////////////////////////////*/


/*Em volta do link padrão*/
.logo.logo-fallback{
  padding: 5px;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow:
    inset 0 15px 25px rgba(255, 255, 255, 0.6),
    inset -10px -15px 20px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

/*//////////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////////Fim-Header///////////////////////////////////////////*/


footer{
border-radius: 20px;
background-color: rgba(149, 145, 147, 0.6);
backdrop-filter: blur(15px);
}

</style>
